<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Components</title>
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/public/favicon.ico" type="image/svg" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <!-- 정적 자산 -->
    <link rel="stylesheet" href="/src/styles/variables.css" />
    <!-- 동적 자산 -->
    <!-- 동적 자산과 정적 자산을 분리화기 위해서 합치지 않음 -->
    <link rel="stylesheet" href="/src/components/Input/input.css" />
  </head>
  <body>
    <h1>Input Components</h1>
    <!-- 입력서식  large-->
    <div class="input input--large">
      <label for="input-large" class="sr-only">레이블</label>
      <input
        aria-errormessage="hint-message-large"
        type="text"
        id="input-large"
        name="input-name-large"
        required
        placeholder="PlaceHolder"
        class="input__field"
      />
      <p class="input__hint-message" id="hint-message-large">Hint Place</p>
    </div>
    <!-- 입력서식 small -->
    <div class="input input--small">
      <label for="input-small" class="sr-only">레이블</label>
      <input
        aria-errormessage="hint-message-small"
        type="text"
        id="input-small"
        name="input-name-small"
        required
        placeholder="PlaceHolder"
        class="input__field"
      />
      <p class="input__hint-message" id="hint-message-small">Hint Place</p>
    </div>
    <!-- search bar -->
    <div class="input__search-bar">
      <label for="input-search" class="sr-only">검색</label>
      <input
        type="text"
        id="input-search"
        name="input-search"
        placeholder="검색어를 입력해주세요"
        class="input__search-field"
      />
      <button type="submit" class="input__search-button">
        <svg
          width="19"
          height="19"
          viewBox="0 0 19 19"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.0806 18.0811L13.9606 13.9611M8.46661 15.3341C9.3684 15.3341 10.2614 15.1565 11.0945 14.8114C11.9276 14.4663 12.6847 13.9605 13.3223 13.3228C13.96 12.6851 14.4658 11.9281 14.8109 11.095C15.156 10.2618 15.3336 9.36888 15.3336 8.4671C15.3336 7.56531 15.156 6.67235 14.8109 5.83921C14.4658 5.00607 13.96 4.24905 13.3223 3.61139C12.6847 2.97373 11.9276 2.46792 11.0945 2.12282C10.2614 1.77772 9.3684 1.6001 8.46661 1.6001C6.64537 1.6001 4.89872 2.32358 3.61091 3.61139C2.32309 4.89921 1.59961 6.64585 1.59961 8.4671C1.59961 10.2883 2.32309 12.035 3.61091 13.3228C4.89872 14.6106 6.64537 15.3341 8.46661 15.3341V15.3341Z"
            stroke="#5F0080"
            stroke-width="1.7"
            stroke-linecap="round"
          />
        </svg>

        <span class="sr-only">검색</span>
      </button>
    </div>
  </body>
</html>
