<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../styles/variables.css" />
  <link rel="stylesheet" href="../../styles/reset.css" />
  <link rel="stylesheet" href="../../styles/base.css" />
  <link rel="stylesheet" href="./badge.css" />
</head>

<body>
  <div class="component-wrapper">
    <h1 class="component-name">Badge</h1>
    <div class="badge">
      <div class="badge__text-wrapper">
        <span class="badge__text-border">일반</span>
        <span class="badge__text-fill">일반</span>
      </div>
      <div class="badge__number-wrapper">
        <span class="badge__number-default">1</span>
        <span class="badge__number-variant">1</span>
        <span class="badge__number-state">1</span>
      </div>
    </div>
  </div>
</body>

</html>