<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../styles/variables.css" />
  <link rel="stylesheet" href="../../styles/reset.css" />
  <link rel="stylesheet" href="../../styles/base.css" />
  <link rel="stylesheet" href="./badge.css" />
</head>

<body>
  <div class="component-wrapper">
    <h1 class="component-name">Badge</h1>
    <div class="badge">
      <div class="badge__text-wrapper">
        <span class="badge__text-border">일반</span>
        <span class="badge__text-fill">일반</span>
      </div>
      <div class="badge__number-wrapper">
        <span class="badge__number-default">1</span>
        <span class="badge__number-variant">1</span>
        <span class="badge__number-state">1</span>
      </div>
    </div>

    <h1 class="component-name">Text</h1>

    <!-- email button component -->
    <div class="text__wrapper">
      <a class="support" href="mailto:help@karlycorp.com?subject=문의사항">
        <span class="support__text">help@karlycorp.com</span>
        <svg class="support__icon" width="6" height="11" viewBox="0 0 6 11" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_42_2330)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 11L6 5.5L1 0L0 1.1L4 5.5L0 9.9L1 11Z"
              fill="var(--primary)" />
          </g>
          <defs>
            <clipPath id="clip0_42_2330">
              <rect width="6" height="11" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </a>
      <!-- label component -->
      <div class="label__row label__row--large">
        <span class="label__text">Label</span>
        <span class="label__required">*</span>
      </div>
      <div class="label__row label__row--small">
        <span class="label__text">Label</span>
        <span class="label__required">*</span>
      </div>

      <!-- sort component -->
      <div class="sort__option--selected">
        <input type="radio" id="sort-recommend" />
        <label for="sort-recommend">추천순</label>
      </div>

      <div class="sort__option">
        <input type="radio" id="sort-recommend" />
        <label for="sort-recommend">추천순</label>
      </div>
    </div>
  </div>
</body>

</html>