.menu-wrapper{
border: .0625rem solid #333;
padding: 3.125rem;
}

.hamburger{
color: #333;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
display: flex;
align-items: center;
gap: .75rem;
}

.hamburger svg {
  fill: currentColor;
  transition: fill 0.3s ease;
}

.hamburger:hover {
  color: #5F0080;
}

.menu{
color:#333;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
display: flex;
width: 150px;
padding: 8px 0px;
justify-content: center;
align-items: flex-end;
gap: 4px;
}

.menu:hover{
 border-bottom: 1px solid #5F0080;
}

.giftbox{
color: #333;
background-color: #fff;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%;
display: flex;
width: 247px;
padding: 8px 0px 8px 12px;
align-items: flex-start;
gap: 8px;
}

.giftbox:hover{
  background-color: #E1E1E1 ;
  color: #5F0080;
}