.cart-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  gap: 2.75rem;

  .cart__title {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
}

.cart__component {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  min-width: 65.625rem;

  .cart-component-left {
    display: flex;
  }

  .cart-component-right {
    display: flex;
    width: 15.25rem;
  }
}

.cart-order-form .cart-change-dest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 1.25rem;
  gap: 0.75rem;
  border: 0.0625rem solid var(--gray--100);
}

.cart-change-dest {
  li {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 150%;

    address {
      all: unset;
    }
  }
  .cart-order-method {
    font-size: 0.75rem;
    color: var(--primary);
  }
  .cart-order-change__button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 15.25rem;
    height: 2.75rem;
    border: 0.0625rem solid var(--primary);
    border-radius: 0.25rem;
    color: var(--primary);
  }
}

.cart-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 1.25rem;
}

.cart-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 1.25rem;
  border: 0.0625rem solid var(--gray--100);
  background: var(--gray--50);

  .cart-price-details dl {
    display: flex;
    flex-direction: column;
    width: 15.25rem;
    padding-bottom: 1.5rem;
    gap: 1rem;
    border-bottom: 0.0625rem dashed var(--gray--100);

    .cart-price-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      line-height: 160%;
    }
  }

  .cart-price-unit {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
  }

  .cart-price-total dl {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 15.25rem;
    padding-top: 1.5rem;
    gap: 0.6875rem;

    .cart-price-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      dd {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 140%;

        .cart-price-unit {
          font-weight: 600;
          line-height: 150%;
        }
      }
    }

    .cart-price-point {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      dt {
        padding: 0 0.5rem;
        border-radius: 0.0625rem;
        background: var(--accent--yellow);
        font-size: 0.75rem;
        color: var(--white);
      }

      dd {
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }
}

.cart-order__button {
  display: flex;
  width: 100%;
  height: 2.75rem;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 0.25rem;
  background: var(--primary);
  color: var(--white);

  data {
    display: none;
  }
}

.cart-order-notice {
  line-height: 150%;
  color: var(--gray--400);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 150%;
}

@media screen and (max-width: 48rem) {
  .cart {
    width: 100%;
    padding-inline: 1.875rem;
    margin-bottom: 5rem;
  }

  .cart__footer {
    display: none;
  }

  .cart-page {
    padding: 1rem 0;
    gap: 0;

    .cart__title {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .cart-order__button {
    position: fixed;
    width: 80%;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;

    data {
      display: block;
    }
  }
  .cart__component {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cart__checkbox {
    border: 0;
  }

  .cart-order-notice {
    display: none;
  }

  .cart-component-left {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
  }

  .cart-order-form > *:not(.cart-order__button) {
    display: none;
  }
}
