.popup-container {
  position: relative;

  width: 15.875rem;
  height: 6.25rem;
  padding: 1.25rem;
  border: 0.0625rem solid var(--gray--300);

  background-color: rgb(255, 255, 255);

  font-family: 'Pretendard ', sans-serif;

  &::before {
    position: absolute;
    top: -0.75rem;
    right: 1.75rem;
    z-index: 1;

    display: inline-block;

    content: "";
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid var(--gray--300);
  }

  &::after {
    position: absolute;
    top: -0.6875rem;
    right: 1.8125rem;
    z-index: 2;

    display: inline-block;

    content: "";
    border-left: 0.6875rem solid transparent;
    border-right: 0.6875rem solid transparent;
    border-bottom: 0.6875rem solid white;
  }
}

.popup-wrapper {
  display: flex;
  flex-flow: row nowrap;

  width: 13.375rem;
  height: 3.75rem;
}

.popup-img {
  width: 2.875rem;
  height: 3.75rem;
  margin-right: 1.25rem;
}

.popup__info {
  padding-block: 0.4688rem;
}

.popup--product__name {
  margin-bottom: 0.5rem;

  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--gray--300);
}

.popup--product__info {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.6;
}
