<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>


  <!--font awsome CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-k6RqeWeci5ZR/Lv4MR0sA0FfDOMQz8z5c5NyEJD7BqXc9E+u6KDvAm8X1sC3yR">




  <!-- Pretendard CDN -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">

  <link rel="stylesheet" href="/project-team-1/src/styles/style.css">

</head>

<body>

  <div class="popup-container">
    <div class="popup-wrapper">
      <img class="popup-img"src="../../assets/product01.png" alt="">
      <div class="popup__info">
        <h3 class="popup--product__name">[풀무원] 탱탱쫄면 (4개입)</h3>
        <p class="popup--product__info">장바구니에 상품을 담았습니다.</p>
      </div>
    </div>
  </div>

</body>
</html>