.popup-container {
  position: relative;

  width: 254px;
  height: 100px;
  padding: 20px;
  border: 1px solid var(--gray--300);

  background-color: rgb(255, 255, 255);

  font-family: 'Pretendard ', sans-serif;

  &::before {
    position: absolute;
    top: -12px;
    right: 28px;
    z-index: 1;

    display: inline-block;

    content: "";
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--gray--300);
  }

  &::after {
    position: absolute;
    top: -11px;
    right: 29px;
    z-index: 2;

    display: inline-block;

    content: "";
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
  }
}

.popup-wrapper {
  display: flex;
  flex-flow: row nowrap;

  width: 214px;
  height: 60px;
}

.popup-img {
  width: 46px;
  height: 60px;
  margin-right: 20px;
}

.popup__info {
  padding-block: 7.5px;
}

.popup--product__name {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  color: var(--gray--300);
}

.popup--product__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
}
