.popup-review-container {
  width: 793px;
  height: 630px;
  padding: 32px;
  background-color: var(--white);
  font-family: 'Pretendard', sans-serif;
  border-radius: 16px;
}

.popup-review-title__box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 729px;
  height: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray--100);
}

.popup-review__review {
  font-size: 28.43px;
  font-weight: 700;
  line-height: 1.4;
}



.popup-review-product {
  width: 729px;
  height: 104px;
  margin-bottom: 16px;
  padding-block: 16px;
  border-bottom: 1px solid var(--gray--100);
}

.popup-review-product__wrapper {
  display: flex;
  align-items: center;
}

.popup-image {
  width: 72px;
  height: 72px;
  margin-right: 24px;
}

.popup-image__info {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  font-family: 'Pretendard', sans-serif;
}

.pop-review-title__container {
  width: 729px;
  height: 44px;
  margin-bottom: 12px;
}

.popup-review__title {
  display: inline-block;
  padding: 8px 64px 10px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  font-family: 'Pretendard', sans-serif;
}

.popup-review-itle__info {
  display: inline-block;
  width: 629px;
  height: 44px;
  padding-inline: 20px;
  padding-block: 9px 9px;
  appearance: none;
  border: 1px solid var(--gray--300);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Pretendard', sans-serif;
}

.popup-review-info__wapper {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 58px;
}

.popup-review-info-title {
  width: 100px;
  height: 42px;
  padding: 8px 64px 10px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: normal;
  font-family: 'Pretendard', sans-serif;
}

.popup-review-info__mini-wapper {
  position: relative;
  border: none;
}

.popup-review___info {
  position: absolute;
  width: 629px;
  height: 198px;
  padding: 16px 16px 0px 16px;
  border: 1px solid var(--gray--300);
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup-review___info::-webkit-scrollbar {
  width: 10px;
}

.popup-review___info::-webkit-scrollbar-track {
  background-color: var(--gray--50);
}

.popup-review___info::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border: 3px solid transparent;
  border-radius: 14px;
  margin: 2px;
  background-clip: content-box;
}

.popup-review__ex {
  width: 597px;
  height: 38px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray--400);
  font-family: 'Pretendard', sans-serif;
}

.popup-review__caution {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--gray--400);
  font-family: 'Pretendard', sans-serif;
}

.popup-review__list-wrapper {
  margin-left: 16px;
}

.popup-review__list {
  list-style: disc;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--gray--400);
  font-family: 'Pretendard', sans-serif;
}

.popup-review__notice {
  width: 629px;
  height: 198px;
  padding: 16px;
  border-radius: 4px;
}

.popup-review__max {
  position: absolute;
  top: 175px;
  right: 4px;
  bottom: 4px;
  display: inline-block;
  width: 49px;
  height: 19px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: normal;
  color: var(--gray--300);
  font-family: 'Pretendard', sans-serif;
}

.popup-review__button-container {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  width: 729px;
  height: 74px;
  border-top: 1px solid var(--gray--100);
}

.popup-review__button {
  width: 186px;
  height: 54px;
  margin-top: 20px;
  padding: 15px 79px;
  border: 1px solid var(--gray--200);
  border-radius: 4px;
  white-space: nowrap;
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  font-family: 'Pretendard', sans-serif;
}

.popup-review__button.commit {
  color: white;
  background-color: var(--gray--100);
  border: none;
}
