<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Docum</title>


  <!--font awsome CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-k6RqeWeci5ZR/Lv4MR0sA0FfDOMQz8z5c5NyEJD7BqXc9E+u6KDvAm8X1sC3yR">




  <!-- Pretendard CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">

  <link rel="stylesheet" href="/project-team-1/src/styles/style.css">

</head>

<body>

  <div class="popup-review-container">
    <div class="popup-review-title__box">
      <h2 class="popup-review__review">후기 작성</h2><span class="popup-review-title__xmark"><svg
          xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M21 9.762L20.238 9L15 14.238L9.762 9L9 9.762L14.238 15L9 20.238L9.762 21L15 15.762L20.238 21L21 20.238L15.762 15L21 9.762Z"
            fill="#CCCCCC" />
        </svg></span>
    </div>
    <div class="popup-review-product">
      <figure class="popup-review-product__wrapper">
        <img class="popup-image" src="/project-team-1/src/assets/product01.png" alt="">
        <figcaption class="popup-image__info">[풀무원] 탱탱쫄면 (4개입)</figcaption>
      </figure>

    </div>
    <div>
      <form action="/" method="POST">
        <div class="pop-review-title__container">
          <label class="popup-review__title" for="popup-review-title">제목</label><input type="text"
            class="popup-review-itle__info" id="popup-review-title" name="" placeholder="제목을 입력해 주세요" required />
        </div>



        <div class="popup-review-info__wapper"> <!--여기 ㅇㅇㅇㅇㅇㅇㅇㅇ-->
          <label class="popup-review-info-title" for="popup-review___info">내용</label>

          <div class="popup-review-info__mini-wapper">
            <div class="popup-review___info"> <!-- /*여기는 p태그랑 ul태그를 감싸는 태그그*/-->
              <p class="popup-review__ex">컬리는 믿을 수 있는 후기문화를 함께 만들어가고자 합니다. 식품 등의 표시광고에 대한 법률을 준수하고자 다음과 같은 부당한 상품평에 대해서는
                별도 고지 없이 임시 대처, 비공개 전환, 삭제,
                적립금 회수 등의 필요한 조치가 취해질 수 있습니다.</p>
              <span class="popup-review__caution">후기 작성 시 유의사항</span>
              <ul class="popup-review__list-wrapper"> 
                <li class="popup-review__list">개인의 주관적인 의견으로 인해 상품의 기능 및 효과에 대하여 오해의 소지가 있는 내용</li>
                <li class="popup-review__list">식품/건강기능식품과 관련하여 질병의 예방 및 치료, 체중감량(다이어트)에 효능효과가 있다는 내용</li>
                <li class="popup-review__list">일반 화장품을 기능성화장품의 효능효과가 있다는 내용을 통한 오인 표현</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용<br>
                 용선 풀려서 우라서 상업성 등의 게시문 또는 구매 상품과 무관하거나 반복되는 등의 단어나 문장을 사용하여 판매자나 다른 </li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                <li class="popup-review__list">생활화학제품을 본래 용도와 다르게 사용하는 내용 및 효능효과를 과장하는 내용</li>
                <li class="popup-review__list">의약외품을 의약품으로 오인하게 하는 표현</li>
                 
                </ul>
              </div>

            <textarea class="popup-review__notice" name="" id="popup-review___info"></textarea>
             <span class="popup-review__max">0 / 5,000</span>
          </div>


        

      </form>
    </div>

      <div class="popup-review__checkbox">
            <div><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_84_3007)">
<path d="M12 23.5C18.3513 23.5 23.5 18.3513 23.5 12C23.5 5.64873 18.3513 0.5 12 0.5C5.64873 0.5 0.5 5.64873 0.5 12C0.5 18.3513 5.64873 23.5 12 23.5Z" stroke="#C4C4C4"/>
<path d="M7 12.667L10.385 16L18 8.5" stroke="#C4C4C4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_84_3007">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
</span><span>비밀글로 문의하기</span></div>
          </div>
        </div>
    <div class="popup-review__button-container">
      <button type="button" class="popup-review__button">취소</button>
      <button type="submit" class="popup-review__button commit">등록</button>
    </div>
  </div>





</body>

</html>