.popup-review__body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;

}
.font-weight__400{
  font-weight: 500;
}
.font-weight__400{
  font-weight: 500;
}
.font-weight__600{
  font-weight: 600;
}
.font-weight__700{
  font-weight: 700;
}
.line-height__140{
  line-height:1.4;
}
.line-height__150{
 line-height:1.5;
}
.line-height__160{
  line-height:1.6;
}


.popup-review-container { /*전체 컨테이너너*/
  width: 793px;
  height: 630px;
  padding: 32px;
  background-color: var(--white);
  border-radius: 16px;
}

.popup-review-title__box { /*후기작성,X 컨테이너*/
  display:flex;
  flex-flow:row nowrap;/*flex-direction:row랑 flex-wrap:nowrap*/
  justify-content:space-between;
  width: 729px;
  height: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray--100);
}

.popup-review__review { /*후기 작성 */
  display:inline-block;
  font-size: 28.43px;
}

.popup-review-title__xmark{
  width: 30px;
  aspect-ratio: 1;
}


.popup-review-product { /*쫄면 + 제품명 Container*/
  width: 729px;
  height: 104px;
  margin-bottom: 16px;
  padding-block: 16px;
  border-bottom: 1px solid var(--gray--100);
}

.popup-review-product__wrapper { /*이미지랑 피켜캡션 묶은 피겨태그*/
  display: flex;
  align-items: center;
}

.popup-image {
  width: 72px;
  height: 72px;
  margin-right: 24px;
}

.popup-image__info {
  font-size: 16px;
  font-weight: 600;
}

.pop-review-title__container { /*제목 인풋 묶은 Container*/
  width: 729px;
  height: 44px;
  margin-bottom: 12px;
}

.popup-review__title {
  display: inline-block;
  padding: 8px 64px 10px 8px;
  font-size: 16px;
}

.popup-review-title__info {
  display: inline-block;
  width: 629px;
  height: 44px;
  padding-inline: 20px;
  padding-block: 9px 9px;
  appearance: none;
  border: 1px solid var(--gray--300);
  border-radius: 4px;
  font-size: 16px;
}

.popup-review-info__wapper {/*내용 + textarea 감싸는 Container*/
  display: flex;
  flex-flow: row nowrap;
  position:relative;
  margin-bottom: 58px;
  
}

.popup-review-info-title {
  width: 100px;
  height: 42px;
  padding: 8px 64px 10px 8px;
  font-size: 16px;

}

.popup-review-info__mini-wapper { /*p랑 ul을 감싸는 div랑 textarea를 감싸는 Container*/
  border: none;
  position:relative;
}

.popup-review___info { /*여기는 p태그랑 ul태그를 감싸는 태그그*/
  position: absolute;
  width: 629px;
  height: 198px;
  padding:16px;
  border:none;
   overflow-x: hidden;
  overflow-y: scroll;
 
}

.popup-review___info::-webkit-scrollbar {
  width: 10px;
}

.popup-review___info::-webkit-scrollbar-track {
  background-color: var(--gray--50);
}

.popup-review___info::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 9999px;
  margin: 2px;
   border: 3px solid transparent; 
}

.popup-review__ex {
  width: 597px;
  height: 38px;
  margin-bottom: 12px;
  font-size: 12px;
  color: var(--gray--400);
}

.popup-review__caution {
  font-size: 16px;
  color: var(--gray--400);
}

.popup-review__list-wrapper {
  margin-left: 16px;
}

.popup-review__list {
  list-style: disc;
  font-size: 12px;
  color: var(--gray--400);
  font-weight: 400;
  line-height:1.6;
}

.popup-review__notice { /*textarea*/
  width: 629px;
  height: 198px;
  padding: 16px;
  border:1px solid var(--gray--300);
  border-radius: 4px;
}

.popup-review__max {
  position: absolute;
  top:175px;
  right: 4px;
  bottom: 4px;
  width: 49px;
  height: 19px;
  background-color: transparent;
  font-size: 12px;
  color: var(--gray--300);
}

.popup-review__button-container {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  width: 729px;
  height: 74px;
  border-top: 1px solid var(--gray--100);
}

.popup-review__button {
  width: 186px;
  height: 54px;
  margin-top: 20px;
  padding: 15px 79px;
  border: 1px solid var(--gray--200);
  border-radius: 4px;
  white-space: nowrap;
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  font-family: 'Pretendard', sans-serif;

  &.commit{
     border: none;
  color: white;
  background-color: var(--gray--100);
 
  }
}


