body {
  font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 1rem;
  color: var(--content);
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (min-width: 48.0625rem) {
  .desktop-only {
    display: block;
  }

  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 48rem) {
  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
  }
}
