.product-list {
  margin-bottom: 1rem;
}

.product-card__image {
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;

  img {
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.05);
  }
}

.product-card__shopping-cart {
  position: absolute;
  right: 15px;
  height: 45px;
  bottom: 17px;
}

.product-card__info {
  margin: 0;
  padding: 0;
}

.product-card-delivery {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 12px;
  color: var(--gray--400);
}

.product-card__name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--gray--900);
}

.product-card__price {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 21.3px;
  line-height: 1.5;
  color: var(--gray--900);
}

.product-card__per {
  margin-right: 8px;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 21.3px;
  line-height: 1.5;
  color: var(--accent--yellow);
}

.product-card-sale {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--gray--400);
}
.product-card__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: var(--gray--400);
}
