/* 헤더 컴포넌트 */
.header {
  display: flex;
  max-width: 1050px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  * {
    font-family: "Pretendard", sans-serif;
  }
}

.header__top {
  display: flex;
  width: 1050px;
  padding-bottom: 1.25rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.user__area {
  display: flex;
  font-size: 0.7502rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 0.75rem;
  align-items: center;
  gap: 0.75rem;

  .purple {
    color: var(--primary);
  }
}

.membership {
  color: var(--primary);
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  ul {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .new {
    position: relative;
  }

  .new__icon {
    position: absolute;
    top: -0.1875rem;
    right: -0.8125rem;
  }

  .purple {
    color: var(--primary);
  }

  .gray {
    color: var(--gray--400);
  }
}

.search__bar {
  display: flex;
  width: 25rem;
  padding: 0.75rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--primary);
}

.search__field {
  border: none;
  outline: none;
  flex-grow: 1;
  font-family: pretendard;
  font-size: 1.333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--gray--400);
}

.search__button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.user__utils {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;
  justify-content: center;
}

.user__utils:hover {
  color: var(--primary);
}

.main-nav ul {
  display: flex;
  width: 65.625rem;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  font-family: pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  li {
    display: flex;
    width: 9.375rem;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: flex-end;
    gap: 0.25rem;
  }
}

.main-nav__hamburger a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.notice {
  display: flex;
  padding: 0.25rem 0.5rem;
  align-items: flex-start;
  gap: 0.25rem;
  border-radius: 1rem;
  border: 0.0625rem solid var(--gray--300);
  font-size: 0.7502rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  .purple {
    color: var(--primary);
  }
}

.logo-area ul li a:hover,
.main-nav ul li a:hover,
.user__utils li a:hover {
  color: var(--primary);
}
