/* 헤더 컴포넌트 */
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 24px #00000010;
}

.header__top {
  display: flex;
  min-width: 65.625rem;
  padding-bottom: 1.25rem;
  align-items: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.user__area {
  display: flex;
  font-size: 0.7502rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 0.75rem;
  align-items: center;
  gap: 0.75rem;

  .purple {
    color: var(--primary);
  }

  a:hover {
    color: var(--primary);
  }
}

.membership {
  color: var(--primary);
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  ul {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .new {
    position: relative;
  }

  .new__icon {
    position: absolute;
    top: -0.1875rem;
    right: -0.8125rem;
  }

  .purple {
    color: var(--primary);
  }

  .gray {
    color: var(--gray--400);
  }
}

.input__search-bar {
  display: flex;
  padding: 0.8125rem 1.25rem;
  border: 0.0625rem solid var(--primary);
  border-radius: 0.25rem;
  justify-content: space-between;
  font-size: var(--paragraph---large);
  align-items: center;
  transition: border-color 0.2s;
}

.input__search-bar:hover {
  border-color: var(--blue--500);
}

.input__search-field {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.input__search-field:focus {
  outline: none;
}

.input__search-button {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user__utils {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  width: 2.25rem;
  height: 2.25rem;
  justify-content: center;

  li:hover {
    color: var(--primary);
  }
}

.main-nav {
  padding-block: 1rem;

  ul {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  li {
    display: flex;
    width: 9.375rem;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: flex-end;
    gap: 0.25rem;
  }
}

.main-nav__hamburger a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.notice {
  display: flex;
  padding: 0.25rem 0.5rem;
  border: 0.0625rem solid var(--gray--100);
  align-items: flex-start;
  gap: 0.25rem;
  border-radius: 1rem;
  font-size: 0.7502rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  .purple {
    color: var(--primary);
  }
}

.logo-area ul li a:hover,
.main-nav ul li a:hover,
.user__utils li a:hover {
  color: var(--primary);
}

.mobile-header {
  display: none;
}

.gnb {
  display: none;
}

@media (width <= 48rem) {
  .header {
    display: none;
  }

  .mobile-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 3.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.4375rem;
    background: var(--primary);
    align-items: center;
    justify-content: space-between;
  }

  .mobile-header__logo {
    display: flex;
    width: 100%;
    height: 2.0625rem;
    justify-content: center;
  }

  .mobile-header__icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
  }

  .mobile-header__icon-bell,
  .mobile-header__icon-cart {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
  }

  .gnb {
    display: block;
    width: 100%;
    height: 3rem;

    .gnb__list {
      display: flex;
      margin-left: 1rem;
      margin-right: 0.9375rem;
      gap: 1.6875rem;
      justify-content: space-between;
    }

    .gnb__label {
      display: flex;
      height: 3rem;
      flex-wrap: nowrap;
      color: var(--gray--500);
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
      align-items: center;
      white-space: nowrap;

      &:hover {
        color: var(--primary);
        border-bottom: 0.1875rem solid var(--primary);

        .gnb__label__text {
          transform: translateY(0.125rem);
        }
      }
    }
  }
}
