/* 헤더 컴포넌트 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;


}

.header__top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  width: 1050px;
  padding-bottom: 20px;



}

.mobile-header {
  display: none;
}

.gnb {
  display: none;
}

@media (width <=768px) {
  .header {
    display: none;
  }

  .mobile-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 52px;
    padding-top: 12px;
    padding-bottom: 7px;
    background: var(--primary);
    align-items: center;
    justify-content: space-between;
  }

  .mobile-header__logo {
    display: flex;
    width: 100%;
    height: 33px;
    justify-content: center;
  }

  .mobile-header__icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
  }

  .mobile-header__icon-bell,
  .mobile-header__icon-cart {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
  }

  .gnb {
    display: block;
    width: 100%;
    height: 48px;

    .gnb__list {
      display: flex;
      margin-left: 16px;
      margin-right: 15px;
      gap: 27px;
      justify-content: space-between;
    }

    .gnb__label {
      display: flex;
      height: 48px;
      flex-wrap: nowrap;
      color: var(--gray--500);
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
      align-items: center;
      white-space: nowrap;

      &:hover {
        color: var(--primary);
        border-bottom: 3px solid var(--primary);

        .gnb__label__text {
          transform: translateY(2px);
        }
      }
    }
  }
}

.user__area {
  display: flex;
  font-size: 12.0032px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 12px;
  align-items: center;
  gap: 12px;

  .purple {
    color: var(--primary);
  }
}

.membership {
  color: var(--primary);
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  ul {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .new {
    position: relative;
  }

  .new__icon {
    position: absolute;
    top: -3px;
    right: -13px;
  }

  .purple {
    color: var(--primary);
  }

  .gray {
    color: var(--gray--400);
  }
}

.input__search-bar {
  display: flex;
  width: 400px;
  height: 60px;
  padding: 20px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  transition: border-color 0.2s;
}

.input__search-bar:hover {
  border-color: var(--blue--500);
}

.input__search-field {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
}

.input__search-field:focus {
  outline: none;
}

.input__search-button {
  display: flex;
  width: 36px;
  height: 36px;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.user__utils {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 36px;
  height: 36px;
  justify-content: center;
}

.user__utils:hover {
  color: var(--primary);
}

.main-nav ul {
  display: flex;
  width: 1050px;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  li {
    display: flex;
    width: 150px;
    padding: 8px 0;
    justify-content: center;
    align-items: flex-end;
    gap: 4px;
  }
}

.main-nav__hamburger a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.notice {
  display: flex;
  padding: 4px 8px;
  border: 1px solid var(--gray--300);
  align-items: flex-start;
  gap: 4px;
  border-radius: 16px;
  font-size: 12.0032px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  .purple {
    color: var(--primary);
  }
}

.logo-area ul li a:hover,
.main-nav ul li a:hover,
.user__utils li a:hover {
  color: var(--primary);
}