<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/variables.css" />
    <link rel="stylesheet" href="./Footer.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Footer</h1>
    <footer class="footer">
      <div class="footer__container">
        <section class="footer__top">
          <div class="footer__left">
            <h2>고객행복센터</h2>
            <div class="customer-service">
              <strong>1644-1107</strong>
              <p>월~토요일 오전 7시 ~ 오후 6시</p>
            </div>
            <ul class="footer__inquiry">
              <li class="inquiry-tel">
                <button class="btn-inquiry">카카오톡 문의</button>
                <p>
                  월~토요일 | 오전 7시 ~ 오후 6시<br />
                  일/공휴일 | 오전 7시 ~ 오후 1시
                </p>
              </li>
              <li class="inquiry-tel">
                <button class="btn-inquiry">1:1 문의</button>
                <p>
                  365일<br />
                  고객센터 운영시간에 순차적으로 답변드리겠습니다.
                </p>
              </li>
              <li class="inquiry-tel">
                <button class="btn-inquiry">대량주문 문의</button>
                <p>
                  월~금요일 | 오전 9시 ~ 오후 6시<br />
                  일/공휴일 | 낮 12시 ~ 오후 1시
                </p>
              </li>
            </ul>
            <div class="inquiry-email">
              <span>
                비회원 문의 :
                <a href="mailto:help@karlycorp.com">help@karlycorp.com</a>
              </span>
              <span>
                비회원 대량주문 문의 :
                <a href="mailto:help@karlycorp.com">help@karlycorp.com</a>
              </span>
            </div>
          </div>
          <div class="footer__right">
            <ul class="footer__list">
              <li><a href="#">칼리소개</a></li>
              <li><a href="#">칼리소개영상</a></li>
              <li><a href="#">인재채용</a></li>
              <li><a href="#">이용약관</a></li>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">이용안내</a></li>
            </ul>
            <ul class="footer__company-info">
              <li class="company-info__list">
                <span class="company-info__item"
                  >법인명 (상호) : 주식회사 칼리</span
                >
                <span class="company-info__item"
                  >사업자등록번호 : 111-11-22222</span
                >
                <a class="company-info__link" href="">사업자정보 확인</a>
              </li>
              <li class="company-info__list">
                <span class="company-info__item"
                  >통신판매업 : 제 2005-서울강남-00000 호</span
                >
                <span class="company-info__item"
                  >개인정보보호책임자 : 홍길동</span
                >
              </li>
              <li class="company-info__list">
                <span class="company-info__item"
                  >주소 : 서울특별시 강남구 테헤란로 5003, 28층(역삼동)</span
                >
                <span class="company-info__item">대표이사 : 심선범</span>
              </li>
              <li class="company-info__list">
                <span class="company-info__item">입점문의 : 입점문의하기</span>
                <span class="company-info__item">제휴문의 :</span>
                <a
                  class="company-info__link"
                  href="mailto:business@karlycorp.com"
                  >business@karlycorp.com</a
                >
              </li>
              <li class="company-info__list">
                <span class="company-info__item">채용문의 :</span>
                <a
                  class="company-info__link"
                  href="mailto:recruit@karlycorp.com"
                  >recruit@karlycorp.com</a
                >
              </li>
              <li class="company-info__list">
                <span class="company-info__item">팩스 : 070 - 1111 - 2222</span>
              </li>
            </ul>
            <ul class="footer__sns">
              <li>
                <a href="https://blog.naver.com">
                  <img
                    src="../../assets/sns_Blog.svg"
                    alt="네이버 블로그 열기"
                  />
                </a>
              </li>
              <li>
                <a href="https://facebook.com">
                  <img
                    src="../../assets/sns_FaceBook.svg"
                    alt="페이스북 열기"
                  />
                </a>
              </li>
              <li>
                <a href="">
                  <img
                    src="../../assets/sns_Instagram.svg"
                    alt="인스타그램 열기"
                  />
                </a>
              </li>
              <li>
                <a href="">
                  <img
                    src="../../assets/sns_NaverPost.svg"
                    alt="네이버포스트 열기"
                  />
                </a>
              </li>
              <li>
                <a href="">
                  <img src="../../assets/sns_Youtube.svg" alt="유튜브 열기" />
                </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="footer__middle">
          <div class="footer__certification">
            <img src="../../assets/logo_isms.svg" alt="isms 인증 로고" />
            <p>
              [인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영<br />(심사받지 않은
              물리적 인프라 제외)<br />[유효기간] 2022.01.19 ~ 2025.01.18
            </p>
          </div>
          <div class="footer__certification">
            <img
              src="../../assets/logo_privacy.svg"
              alt="개인정보보호 인증 로고"
            />
            <p>
              개인정보보호 우수 웹사이트<br />개인정보처리시스템 인증 (ePRIVACY
              PLUS)
            </p>
          </div>
          <div class="footer__certification">
            <img
              src="../../assets/logo_tosspayments.svg"
              alt="토스 인증 로고"
            />
            <p>
              토스페이먼츠 구매안전(에스크로) 서비스를 이용하실 수 있습니다.
            </p>
          </div>
          <div class="footer__certification">
            <img src="../../assets/logo_wooriBank.svg" alt="우리은행 로고" />
            <p>
              고객님이 현금으로 결제한 금액에 대해 우리은행과 채무지급보증
              계약을 체결하여 안전거래를 보장하고 있습니다.
            </p>
          </div>
        </section>
      </div>
      <section class="footer__bottom">
        <small class="footer__disclaimer">
          마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가
          판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다.<br />
          마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서
          통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불
        </small>
        <small class="footer__copyright">
          © KURLY CORP. ALL RIGHTS RESERVED
        </small>
      </section>
    </footer>
  </body>
</html>
