<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../styles/variables.css" />
  <link rel="stylesheet" href="../../styles/reset.css" />
  <link rel="stylesheet" href="../../styles/base.css" />
  <link rel="stylesheet" href="./footer.css" />
  <title>Document</title>
</head>

<body>
  <div class="component-wrapper">

    <h1 class="component-name">Footer</h1>
    <footer class="footer">
      <div class="footer__container">
        <section class="footer__top">
          <div class="footer__left desktop-only">
            <h2>고객행복센터</h2>
            <div class="customer-service">
              <strong>1644-1107</strong>
              <p>월~토요일 오전 7시 ~ 오후 6시</p>
            </div>
            <ul class="footer__inquiry">
              <li class="inquiry-tel">
                <button class="btn-inquiry">카카오톡 문의</button>
                <p>
                  월~토요일 | 오전 7시 ~ 오후 6시
                  <br />
                  일/공휴일 | 오전 7시 ~ 오후 1시
                </p>
              </li>
              <li class="inquiry-tel">
                <button class="btn-inquiry">1:1 문의</button>
                <p>
                  365일
                  <br />
                  고객센터 운영시간에 순차적으로 답변드리겠습니다.
                </p>
              </li>
              <li class="inquiry-tel">
                <button class="btn-inquiry">대량주문 문의</button>
                <p>
                  월~금요일 | 오전 9시 ~ 오후 6시
                  <br />
                  일/공휴일 | 낮 12시 ~ 오후 1시
                </p>
              </li>
            </ul>
            <div class="footer__email">
              <div>
                <span class="inquiry-text">비회원 문의 :</span>
                <a class="inquiry-link" href="mailto:help@karlycorp.com">help@karlycorp.com</a>
              </div>
              <div>
                <span class="inquiry-text">비회원 대량주문 문의 :</span>
                <a class="inquiry-link" href="mailto:help@karlycorp.com">help@karlycorp.com</a>
              </div>
            </div>
          </div>
          <div class="footer__right">
            <ul class="footer__list">
              <li><a href="#">칼리소개</a></li>
              <li><a class="desktop-only" href="#">칼리소개영상</a></li>
              <li><a class="desktop-only" href="#">인재채용</a></li>
              <li><a href="#">이용약관</a></li>
              <li><a href="#" class="privacy">개인정보처리방침</a></li>
              <li><a class="desktop-only" href="#">이용안내</a></li>
            </ul>
            <ul class="footer__company-info">
              <li class="company-info__list">
                <span class="inquiry-text">
                  <span class="desktop-only">법인명 (상호) :</span>
                  주식회사 칼리 |
                </span>
                <span class="inquiry-text">사업자등록번호 : 111-11-22222 |</span>
                <a class="inquiry-link" href="">사업자정보 확인</a>
              </li>
              <li class="company-info__list">
                <span class="inquiry-text">통신판매업 : 제 2005-서울강남-00000 호 <span aria-hidden="true">|</span></span>
                <span class="inquiry-text">개인정보보호책임자 : 홍길동</span>
              </li>
              <li class="company-info__list">
                <span class="inquiry-text">주소 : 서울특별시 강남구 테헤란로 5003, 28층(역삼동) <span aria-hidden="true">|</span></span>
                <span class="inquiry-text desktop-only">대표이사 : 심선범</span>
              </li>
              <li class="company-info__list">
                <span class="inquiry-text desktop-only">입점문의 : 입점문의하기 <span aria-hidden="true">|</span></span>
                <span class="inquiry-text">제휴문의 :</span>
                <a class="inquiry-link" href="mailto:business@karlycorp.com">business@karlycorp.com</a>
              </li>
              <li class="company-info__list desktop-only">
                <span class="inquiry-text">채용문의 :&nbsp;</span>
                <a class="inquiry-link" href="mailto:recruit@karlycorp.com">recruit@karlycorp.com</a>
              </li>
              <li class="company-info__list">
                <span class="inquiry-text">팩스 : 070 - 1111 - 2222</span>
              </li>
              <li class="company-info__list mobile-only inquiry-text">
                고객행복센터 :
                <a class="inquiry-link" href="tell:1644-1107">1644-1107</a>
              </li>
              <li class="company-info__list mobile-only inquiry-text">
                대량주문 문의 :
                <a href="#" class="inquiry-link">대량주문 문의하기</a>
              </li>
            </ul>
            <p class="inquiry-text mobile-only">
              카카오톡
              <a class="inquiry-link" href="#">@칼리</a>
              친구 추가하고 소식과 혜택을 받아보세요.
            </p>
            <ul class="footer__sns">
              <li>
                <a href="https://blog.naver.com" target="_blank" rel="noopener noreferrer">
                  <img src="../../assets/sns_Blog.svg" alt="네이버 블로그 열기" />
                </a>
              </li>
              <li>
                <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                  <img src="../../assets/sns_FaceBook.svg" alt="페이스북 열기" />
                </a>
              </li>
              <li>
                <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                  <img src="../../assets/sns_Instagram.svg" alt="인스타그램 열기" />
                </a>
              </li>
              <li>
                <a href="https://www.naver.com" target="_blank" rel="noopener noreferrer">
                  <img src="../../assets/sns_NaverPost.svg" alt="네이버포스트 열기" />
                </a>
              </li>
              <li>
                <a href="https://youtube.com" target="_blank" rel="noopener noreferrer">
                  <img src="../../assets/sns_Youtube.svg" alt="유튜브 열기" />
                </a>
              </li>
            </ul>
          </div>
        </section>
        <section class="footer__middle desktop-only">
          <div class="footer__certification">
            <img src="../../assets/logo_isms.svg" alt="isms 인증 로고" />
            <p>
              [인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영
              <br />
              (심사받지 않은 물리적 인프라 제외)
              <br />
              [유효기간] 2022.01.19 ~ 2025.01.18
            </p>
          </div>
          <div class="footer__certification">
            <img src="../../assets/logo_privacy.svg" alt="개인정보보호 인증 로고" />
            <p>
              개인정보보호 우수 웹사이트
              <br />
              개인정보처리시스템 인증 (ePRIVACY PLUS)
            </p>
          </div>
          <div class="footer__certification">
            <img src="../../assets/logo_tosspayments.svg" alt="토스 인증 로고" />
            <p>토스페이먼츠 구매안전(에스크로) 서비스를 이용하실 수 있습니다.</p>
          </div>
          <div class="footer__certification">
            <img src="../../assets/logo_wooriBank.svg" alt="우리은행 로고" />
            <p>
              고객님이 현금으로 결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.
            </p>
          </div>
        </section>
      </div>
      <section class="footer__bottom">
        <div class="inquiry-text mobile-only">
          우리은행 채무지급 보증안내
          <a class="inquiry-link" href="#">서비스가입 확인</a>
          <p>
            당사는 고객님이 현금 결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고
            있습니다.
          </p>
        </div>
        <small class="footer__copyright">
          마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이
          포함되어 있습니다.
          <br />
          마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의
          주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
        </small>
        <small class="footer__copyright">© KURLY CORP. ALL RIGHTS RESERVED</small>
      </section>
    </footer>
  </div>
</body>

</html>