<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../styles/variables.css" />
    <link rel="stylesheet" href="../../styles/base.css" />
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body>
    <div class="user__login">
      <div class="top__banner">
        <div class="inner">
          <a href="/">
            지금 가입하고 인기상품
            <span>100원</span>
            에 받아가세요!
          </a>
          <button class="banner__close" aria-label="배너 닫기">
            <img src="../../assets/icon_close.svg" alt="닫기 아이콘" />
          </button>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="top">
        <ul class="user__login">
          <li><a class="purple" href="/">회원가입</a></li>
          <li><p class="bar"></p></li>
          <li><a href="/">로그인</a></li>
          <li><p class="bar"></p></li>
          <li>
            <div class="customerservice">
              고객센터
              <svg
                width="8"
                height="7"
                viewBox="0 0 8 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <rect y="0.699951" width="8" height="5.6" fill="url(#pattern0_42_1134)" />
                <defs>
                  <pattern id="pattern0_42_1134" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_42_1134" transform="matrix(0.07 0 0 0.1 -0.06 0)" />
                  </pattern>
                  <image
                    id="image0_42_1134"
                    width="16"
                    height="10"
                    preserveAspectRatio="none"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAKCAYAAAC9vt6cAAAAAXNSR0IArs4c6QAAALJJREFUKFOdkMENhCAQRT8JdEAb2oucPVOEnrEIzpyhF22DDjBhMyQYxaxxl8tkYHgz85gxJnvv8c9RSoGllLLWGuu6/sTo+x7WWrCcc44xYhxHUHxzpJRwzoFiAdCnbdtAk6SUHhlCiNK567pSdwAoCSHAGPMImOcZwzAcNRcA3S7Lgm9SSdo0TZcGN8C+72WVVmqVxjl/BtBrK/Usrd3vNkEtqFIpP0t7DahSKZ6ltYAPiE1oacJMJeEAAAAASUVORK5CYII="
                  />
                </defs>
              </svg>
              <ul class="customerservice-menu">
                <li><a href="/">공지사항</a></li>
                <li><a href="/">자주하는 질문</a></li>
                <li><a href="/">1:1 문의</a></li>
                <li><a href="/">대량주문 문의</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="search">
          <div class="logo__switch">
            <img src="../../assets/logo.svg" alt="" />
            <ul class="switch">
              <li><button class="change active" id="market">마켓컬리</button></li>
              <li><p class="bar"></p></li>
              <li>
                <button class="change" id="beauty">
                  뷰티컬리
                  <img src="../../assets/icon_new.svg" alt="new" />
                </button>
              </li>
            </ul>
          </div>
          <div class="search__bar">
            <label for="input-search" class="sr-only">검색어입력</label>
            <input
              type="text"
              id="input-search"
              name="input-search"
              placeholder="검색어를 입력해주세요"
              class="search__field"
            />
            <button type="submit" class="search__button">
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.0806 18.0811L13.9606 13.9611M8.46661 15.3341C9.3684 15.3341 10.2614 15.1565 11.0945 14.8114C11.9276 14.4663 12.6847 13.9605 13.3223 13.3228C13.96 12.6851 14.4658 11.9281 14.8109 11.095C15.156 10.2618 15.3336 9.36888 15.3336 8.4671C15.3336 7.56531 15.156 6.67235 14.8109 5.83921C14.4658 5.00607 13.96 4.24905 13.3223 3.61139C12.6847 2.97373 11.9276 2.46792 11.0945 2.12282C10.2614 1.77772 9.3684 1.6001 8.46661 1.6001C6.64537 1.6001 4.89872 2.32358 3.61091 3.61139C2.32309 4.89921 1.59961 6.64585 1.59961 8.4671C1.59961 10.2883 2.32309 12.035 3.61091 13.3228C4.89872 14.6106 6.64537 15.3341 8.46661 15.3341V15.3341Z"
                  stroke="#5F0080"
                  stroke-width="1.7"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
          <ul class="icon">
            <li>
              <a href="/" aria-label="배송지 등록">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M18.0052 30C18.0052 30 8.69922 22.544 8.69922 15.306C8.69922 12.8379 9.67967 10.4709 11.4249 8.72566C13.1701 6.98045 15.5371 6 18.0052 6C20.4733 6 22.8403 6.98045 24.5856 8.72566C26.3308 10.4709 27.3112 12.8379 27.3112 15.306C27.3112 22.544 18.0052 30 18.0052 30Z"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M17.911 17.9071C19.4485 17.9071 20.695 16.6607 20.695 15.1231C20.695 13.5856 19.4485 12.3391 17.911 12.3391C16.3734 12.3391 15.127 13.5856 15.127 15.1231C15.127 16.6607 16.3734 17.9071 17.911 17.9071Z"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="찜하기">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M28.9269 8.89295C28.3269 8.29261 27.6146 7.81636 26.8305 7.49144C26.0465 7.16651 25.2061 6.99927 24.3574 6.99927C23.5086 6.99927 22.6682 7.16651 21.8842 7.49144C21.1001 7.81636 20.3878 8.29261 19.7879 8.89295L17.9589 10.7209L16.1319 8.89295C14.9201 7.68091 13.2765 6.99989 11.5626 6.9997C9.84867 6.99951 8.2049 7.68017 6.99286 8.89195C5.78082 10.1037 5.0998 11.7473 5.09961 13.4612C5.09942 15.1751 5.78008 16.8189 6.99186 18.0309L8.81986 19.8599L17.2519 28.2939C17.4394 28.4814 17.6937 28.5867 17.9589 28.5867C18.224 28.5867 18.4783 28.4814 18.6659 28.2939L27.0989 19.8599L28.9269 18.0319C29.5271 17.432 30.0032 16.7198 30.328 15.9358C30.6528 15.1518 30.82 14.3115 30.82 13.4629C30.82 12.6144 30.6528 11.7741 30.328 10.9901C30.0032 10.2061 29.5271 9.49386 28.9269 8.89395V8.89295Z"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="round"
                  />
                </svg>
              </a>
            </li>
            <li>
              <a href="/" aria-label="장바구니">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M30.8442 10.207L28.1242 21.777H12.5342L9.82422 10.207H30.8442Z"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M25.6849 29.467C26.8668 29.467 27.8249 28.5089 27.8249 27.327C27.8249 26.1451 26.8668 25.187 25.6849 25.187C24.503 25.187 23.5449 26.1451 23.5449 27.327C23.5449 28.5089 24.503 29.467 25.6849 29.467Z"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M14.974 29.467C16.1559 29.467 17.114 28.5089 17.114 27.327C17.114 26.1451 16.1559 25.187 14.974 25.187C13.7921 25.187 12.834 26.1451 12.834 27.327C12.834 28.5089 13.7921 29.467 14.974 29.467Z"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.16406 6.54712H8.96406L10.7241 14.0471"
                    stroke="currentColor"
                    stroke-width="1.7"
                    stroke-linecap="square"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="nav">
        <a class="category" href="">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_42_624)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 0H16V1.7H0V0ZM0 6.15H16V7.85H0V6.15ZM0 12.3H16V14H0V12.3Z"
                fill="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_42_624">
                <rect width="16" height="14" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <p>카테고리</p>
        </a>
        <ul class="menu">
          <li>신상품</li>
          <li>베스트</li>
          <li>알뜰쇼핑</li>
          <li>특가/혜택</li>
        </ul>
        <a class="notice" href="/">
          <span>샛별.낮</span>
          배송안내
        </a>
      </div>
    </div>
    <div class="main">
      <h1>로그인</h1>
      <form action="/" method="GET" class="login-form">
        <div class="input__wrapper">
          <div class="form-input">
            <label for="input-1" class="sr-only">아이디</label>
            <input
              aria-errormessage="error-1"
              type="text"
              id="input-1"
              name="userID"
              required
              placeholder="아이디를 입력해주세요."
            />
            <p class="error-message" id="error-1" aria-live="polite">아이디는 이메일을 입력해주세요.</p>
          </div>
          <div class="form-input">
            <label for="input-2" class="sr-only">비밀번호</label>
            <input
              pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[\W_]).{10,}"
              aria-errormessage="error-2"
              type="password"
              id="input-2"
              name="userPWD"
              required
              placeholder="비밀번호를 입력해주세요."
            />
            <p class="error-message" id="error-2" aria-live="polite">
              비밀번호는 특수문자, 영문 소문자, 숫자를 포함하여 10자리 이상 입력해주세요.
            </p>
          </div>
          <ul class="forget">
            <li><a href="/">아이디 찾기</a></li>
            <li><p class="bar"></p></li>
            <li><a href="/">비밀번호 찾기</a></li>
          </ul>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-normal--large btn-normal--fill">로그인</button>
          <button class="btn btn-normal--large btn-normal--stroke">회원가입</button>
        </div>
      </form>
    </div>
    <div class="footer__container">
      <section class="footer__top">
        <div class="footer__left">
          <h2>고객행복센터</h2>
          <div class="customer-service">
            <strong>1644-1107</strong>
            <p>월~토요일 오전 7시 ~ 오후 6시</p>
          </div>
          <ul class="footer__inquiry">
            <li class="inquiry-tel">
              <button class="btn-inquiry">카카오톡 문의</button>
              <p>
                월~토요일 | 오전 7시 ~ 오후 6시
                <br />
                일/공휴일 | 오전 7시 ~ 오후 1시
              </p>
            </li>
            <li class="inquiry-tel">
              <button class="btn-inquiry">1:1 문의</button>
              <p>
                365일
                <br />
                고객센터 운영시간에 순차적으로 답변드리겠습니다.
              </p>
            </li>
            <li class="inquiry-tel">
              <button class="btn-inquiry">대량주문 문의</button>
              <p>
                월~금요일 | 오전 9시 ~ 오후 6시
                <br />
                일/공휴일 | 낮 12시 ~ 오후 1시
              </p>
            </li>
          </ul>
          <div class="footer__email">
            <div>
              <span class="inquiry-text">비회원 문의 :</span>
              <a class="inquiry-link" href="mailto:help@karlycorp.com">help@karlycorp.com</a>
            </div>
            <div>
              <span class="inquiry-text">비회원 대량주문 문의 :</span>
              <a class="inquiry-link" href="mailto:help@karlycorp.com">help@karlycorp.com</a>
            </div>
          </div>
        </div>
        <div class="footer__right">
          <ul class="footer__list">
            <li><a href="#">칼리소개</a></li>
            <li><a href="#">칼리소개영상</a></li>
            <li><a href="#">인재채용</a></li>
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">이용안내</a></li>
          </ul>
          <ul class="footer__company-info">
            <li class="company-info__list">
              <span class="inquiry-text">법인명 (상호) : 주식회사 칼리 |</span>
              <span class="inquiry-text">사업자등록번호 : 111-11-22222 |</span>
              <a class="inquiry-link" href="">사업자정보 확인</a>
            </li>
            <li class="company-info__list">
              <span class="inquiry-text">통신판매업 : 제 2005-서울강남-00000 호 |</span>
              <span class="inquiry-text">개인정보보호책임자 : 홍길동</span>
            </li>
            <li class="company-info__list">
              <span class="inquiry-text">주소 : 서울특별시 강남구 테헤란로 5003, 28층(역삼동) |</span>
              <span class="inquiry-text">대표이사 : 심선범</span>
            </li>
            <li class="company-info__list">
              <span class="inquiry-text">입점문의 : 입점문의하기 |</span>
              <span class="inquiry-text">제휴문의 :</span>
              <a class="inquiry-link" href="mailto:business@karlycorp.com">business@karlycorp.com</a>
            </li>
            <li class="company-info__list">
              <span class="inquiry-text">채용문의 :</span>
              <a class="inquiry-link" href="mailto:recruit@karlycorp.com">recruit@karlycorp.com</a>
            </li>
            <li class="company-info__list">
              <span class="inquiry-text">팩스 : 070 - 1111 - 2222</span>
            </li>
          </ul>
          <ul class="footer__sns">
            <li>
              <a href="https://blog.naver.com" target="_blank">
                <img src="../../assets/sns_Blog.svg" alt="네이버 블로그 열기" />
              </a>
            </li>
            <li>
              <a href="https://facebook.com" target="_blank">
                <img src="../../assets/sns_FaceBook.svg" alt="페이스북 열기" />
              </a>
            </li>
            <li>
              <a href="https://instagram.com" target="_blank">
                <img src="../../assets/sns_Instagram.svg" alt="인스타그램 열기" />
              </a>
            </li>
            <li>
              <a href="https://www.naver.com" target="_blank">
                <img src="../../assets/sns_NaverPost.svg" alt="네이버포스트 열기" />
              </a>
            </li>
            <li>
              <a href="https://youtube.com" target="_blank">
                <img src="../../assets/sns_Youtube.svg" alt="유튜브 열기" />
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="footer__middle">
        <div class="footer__certification">
          <img src="../../assets/logo_isms.svg" alt="isms 인증 로고" />
          <p>
            [인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영
            <br />
            (심사받지 않은 물리적 인프라 제외)
            <br />
            [유효기간] 2022.01.19 ~ 2025.01.18
          </p>
        </div>
        <div class="footer__certification">
          <img src="../../assets/logo_privacy.svg" alt="개인정보보호 인증 로고" />
          <p>
            개인정보보호 우수 웹사이트
            <br />
            개인정보처리시스템 인증 (ePRIVACY PLUS)
          </p>
        </div>
        <div class="footer__certification">
          <img src="../../assets/logo_tosspayments.svg" alt="토스 인증 로고" />
          <p>토스페이먼츠 구매안전(에스크로) 서비스를 이용하실 수 있습니다.</p>
        </div>
        <div class="footer__certification">
          <img src="../../assets/logo_wooriBank.svg" alt="우리은행 로고" />
          <p>
            고객님이 현금으로 결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.
          </p>
        </div>
      </section>
    </div>
    <section class="footer__bottom">
      <small class="footer__copyright">
        마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이
        포함되어 있습니다.
        <br />
        마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의
        주문, 품질, 교환/환불
      </small>
      <small class="footer__copyright">© KURLY CORP. ALL RIGHTS RESERVED</small>
    </section>
  </body>
</html>

<script>
  const marketBtn = document.getElementById('market');
  const beautyBtn = document.getElementById('beauty');

  marketBtn.addEventListener('click', function () {
    marketBtn.classList.add('active');
    beautyBtn.classList.remove('active');
  });

  beautyBtn.addEventListener('click', function () {
    beautyBtn.classList.add('active');
    marketBtn.classList.remove('active');
  });
</script>
