body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 카데고리 */

.category {
  display: inline-block;
  padding: 1rem;
  user-select: none;
}

.category__dropdown {
  display: inline-block;
  position: relative;
  width: max-content;
}

.category__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: max-content;
  padding: 1rem;
  border: 0.0625rem solid var(--secondary);
}

.category__dropdown:hover .category__list {
  display: block;
}

.category__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13.5rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  pointer-events: auto;
  cursor: default;
}

.category__title {
  font-weight: 600;
}

.category__dropdown:hover .category__title {
  color: var(--primary);
}

.category__dropdown:hover .category__header svg {
  transform: rotate(180deg);
}

.category__checkbox {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;

  input {
    position: absolute;
    inline-size: auto;
    block-size: auto;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: 0;
    opacity: 0;
  }

  input:checked + label {
    .checkbox__area {
      fill: var(--primary);
    }
    .checkbox__border {
      fill: var(--primary);
    }
    .checkbox__marker {
      fill: var(--white);
    }
  }

  label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.375rem;
  }
}

.category__checkbox:hover {
  background: var(--gray--100);
  color: var(--primary);
}

.category__count {
  color: var(--gray--300);
  font-size: var(--label---small);
}

.category__more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  color: var(--gray--300);
  font-size: var(--label---small);
}

.category__more a {
  display: inline-flex;
  align-items: center;
}

/* 장바구니 */
.cart {
  display: inline-block;
  position: relative;
  width: 46.375rem;
  user-select: none;
}

.cart__checkbox > svg {
  cursor: pointer;
  flex-shrink: 0;
}

.cart__checkbox {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--gray--100);

  img {
    height: 6rem;
  }

  input {
    position: absolute;
    inline-size: auto;
    block-size: auto;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: 0;
    opacity: 0;
  }

  input:checked + label {
    .checkbox__area {
      fill: var(--primary);
    }
    .checkbox__border {
      fill: var(--primary);
    }
    .checkbox__marker {
      fill: var(--white);
    }
  }

  label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.375rem;
  }
}

.cart__quantity-control {
  display: inline-flex;
  align-items: center;
  border: 0.0625rem solid #ccc;
  overflow: hidden;
}

.cart__quantity-control button,
.cart__quantity-control .cart__quantity {
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  background: transparent;
  text-align: center;
  line-height: 1.75rem;
}

.cart__quantity-control button {
  cursor: pointer;
}

.cart__quantity-control button:hover {
  background: var(--gray--100);
}

.cart__left-section {
  display: flex;
  align-items: center;
  width: 30rem;
}

.cart__right-section {
  display: flex;
  align-items: center;
  width: 20rem;

  .cart__quantity-control {
    margin-right: 5rem;
  }

  .cart__cancel {
    margin-left: auto;
    margin-right: 0;
  }
}

.cart__product-type {
  display: flex;
  align-items: center;
  border-bottom: 0.0625rem solid var(--black);
  width: 100%;
  padding: 1rem 0;
  pointer-events: auto;
  cursor: pointer;
  font-weight: 600;
  line-height: 150%;
  gap: 0.75rem;
}

.cart__list {
  display: none;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
}

.cart__dropdown {
  display: none;
}

.cart__dropdown:checked + .cart__product-type + .cart__list {
  display: block;
}
